---
permalink: /update.xml
---
<?xml version="1.0" encoding="utf-8"?>
<updates>
  <update>
    <name>Responsive Images</name>
    <version>{{metainfo.version}}</version>
    <infourl title="Responsive Images">{{metainfo.url}}></infourl>
    <downloads>
      <downloadurl type="full" format="zip">{{metainfo.url}}/dist/pkg_responsive_{{metainfo.version}}.zip</downloadurl>
    </downloads>
    <targetplatform name="joomla" version="4.*"/>
    <element>pkg_responsive</element>
    <type>package</type>
  </update>
</updates>
