---
layout: base.njk
title: Responsive Images
description: The ultimate solution for images for Joomla 4
---

<header>
  <div class="container">
    <h1>Efficient image serving/caching</h1>
    <h2>A dead-easy package for Joomla 4 that will <br/> bring all the current best practices for images into Joomla CMS.</h2>
    <a download="pkg_responsive_{{metaInfo.version}}.zip" href="/dist/pkg_responsive_{{metaInfo.version}}.zip" class="btn btn-transparent">Download J#4</a>
  </div>
</header>



<footer>
  <div class="container">
    <ul>
      <li><iframe src="https://github.com/sponsors/dgrammatiko/button" title="Sponsor dgrammatiko" height="35" width="116" style="border: 0;"></iframe></li>
      <li><a href="https://github.com/dgrammatiko/invalidate-cache">Github</a></li>
      <li><a href="https://twitter.com/dgrammatiko">Twitter</a></li>
    </ul>
  </div>
</footer>
