<nav class="menu" id="a11y-menu" role="navigation" aria-label="Main menu">
  <ul class="nav level-1 list-reset">
    <li class="has-subnav"><a href="/documentation/requirements/index.html">Requirements</a></li>
    <li class="has-subnav"><a href="/documentation/installation/index.html">Installation</a></li>
    <li class="has-subnav"><a href="/documentation/settings/index.html">Settings</a></li>
    <li class="has-subnav"><a href="/documentation/layouts/index.html">Layouts</a></li>
    <li class="has-subnav"><a href="/documentation/faq/index.html">FAQ</a></li>
  </ul>
</nav>
